/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2016, 8:07:32 AM
    Author     : Moamen
*/
$white:		#ffffff;
$bgcolor:	#f5f3de;
$color-1:	#348e68;
$color-2:	#c3c1ad;
$color-3:	#f3f3f3;
$color-4:	#8c8700;
$color-5:	#1dadea;
$color-6:	#666666;
$color-7:	#dddddd;
$color-8:	#eeeeee;
$color-9:	#428bca;
$color-10:	#999999;
$color-11:	#fcfae9;
$color-12:	#cbcbcb;
$color-13:	#faf8e7;
$color-14:	#333333;
body{
    padding: 3px;
    margin: 0px auto;
    background-color: $bgcolor;
    font-family: tahoma;
}
.container{
    max-width: 100%;
}
a,a:hover{
    color:black;
    text-decoration: none;
}
.tender-item{
    background-color: $color-1;
    border-radius: 5px;
    margin: 15px 0;
    padding: 4px 7px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border: 1px solid $color-2;
}
.description{
    background-color: $color-3;
    border-radius: 3px 3px 3px 30px;
    padding: 5px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.17);
}
.price{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.8);
}
.title, .tender-title {
    color: $color-4;
    font-size: 1.5em;
    min-height: 2em;
    text-shadow: 1px 1px 0 white;
    margin: 0 0 10px 0;
}
.item-details{
    padding-right: 10px;
    border-right: 4px solid $color-5;
    border-radius: 2px;
    font-weight: bold;
    color: $color-6;
}
.pagination {
	> li {
	  display: inline;
		> span, > a {
		  position: relative;
		  float: left;
		  padding: 6px 12px;
		  margin-left: -1px;
		  line-height: 1.428571429;
		  text-decoration: none;
		  background-color: white;
		  border: 1px solid $color-7;
		  &:hover, &:focus {
		  	background-color: $color-8;
		  }
		} 
		&:first-child {
			a, span {
				margin-left: 0;
				border-bottom-left-radius: 4px;
				border-top-left-radius: 4px;
			}
		}
		&:last-child {
			a, span {
				border-top-right-radius: 4px;
  				border-bottom-right-radius: 4px;
			}
		}
	}
	> .active {
		> a, > span {
			&:hover, &:focus {
				z-index: 2;
				color: white;
				cursor: default;
				background-color: $color-9;
				border-color: $color-9;
			}
		}
	}
	> .disabled {
		> a, > span {
			color: $color-10;
			cursor: not-allowed;
			background-color: white;
			border-color: $color-7;
			&:hover, &:focus {
				color: $color-10;
				cursor: not-allowed;
				background-color: white;
				border-color: $color-7;
			}
		}
	}

}
.pagination-lg {
	> li {
		> a, > span {
			padding: 10px 16px;
  			font-size: 18px;
		}
		&:first-child {
			> a, > span {
				border-bottom-left-radius: 6px;
  				border-top-left-radius: 6px;
			}
		}
		&:last-child {
			> a, > span {
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
			}
		}
	}
}
.pagination-sm {
	> li {
		> a, > span {
			padding: 5px 10px;
  			font-size: 12px;
		}
		&:first-child {
			> a, > span {
				border-bottom-left-radius: 3px;
  				border-top-left-radius: 3px;
			}
		}
		&:last-child {
			> a, > span {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}
		}
	}
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
	&:before, &:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
	li {
	  	display: inline;
	  	> a, > span {
			display: inline-block;
			padding: 5px 14px;
			background-color: white;
			border: 1px solid $color-7;
			border-radius: 15px;
			&:hover, &:focus {
				text-decoration: none;
  				background-color: $color-8;
			}
		}
	}
	.next {
		> a, > span {
			float: left;
		}
	}
	.disabled {
		a, span, a:hover, span:hover {
			color: $color-10;
			cursor: not-allowed;
			background-color: white;
		}
	}
}
.tender-details-mob {
    border-radius: 4px;
    border-left:5px solid $color-5;
    border-right:5px solid $color-5;
    background: $color-11;
    padding: 5px 10px;
    color: $color-6;
    font-weight: bold;
    strong {
	    color: $color-14;
	    &:after {
		    content: " : ";
		}
	}
}
.tender-details-items {
    font-weight: bold;
    color: $color-6;
}
.tender-details-item-mob {
	border-bottom: 1px solid $color-12;
    border-top: 2px solid white;
    padding: 0 10px 15px;
	&:nth-child(even) {
		background: $color-13;
	}
	&:first-child {
	    border-top: 0;
	}
	&:last-child {
	    border-bottom: 0;
	}
	ul {
		li {
			list-style-image: url("../images/mob-point.png");
		}
	}
	h4 {
	    color: $color-14;
	}
}
@media (max-width: 480px) {
	.pagination li a span {
		display: none;
	}
}
